.heroSection {
    position: relative;
    width: 100%;
    background-image: 
      linear-gradient(270deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.9) 88.99%),
      url('/images/aboutus-hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    min-height: 90vh; /* Default for desktop */
    padding: 2rem 0;
    display: flex;
    align-items: center;
  }
  
  /* For screens < 768px (tablet and below) */
  @media (max-width: 767px) {
    .heroSection {
      padding: 2rem 1.5rem;
      min-height: 70vh;
      background-position: top;
    }
  }
  
  /* For mobile screens < 480px */
  @media (max-width: 479px) {
    .heroSection {
      padding: 1.5rem 1rem;
      min-height: 30vh;
      background-position: top center;
    }
  }
  
.heroSectionText {
  font-family: 'Poppins', sans-serif;
}
  