/* Responsive styles for Aligners page */
.heroSection {
  position: relative;
  width: 100%;
   width: 100%;
  background-image: 
    linear-gradient(270deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.9) 88.99%),
    url('/images/bio-smart-sm-hero-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  min-height: 50vh;
}

.responsiveContainer {
  max-width: 1240px;
}

.heroContainer {
  width: 100%;
  max-width: 1280px; /* Default max-width for smaller screens */
}

/* Large Desktop (1920px+) */
@media (min-width: 1920px) {
  .responsiveContainer {
    max-width: 1400px;
  }
  .heroContainer {
    max-width: 1400px; /* Adjust for larger screens */
  }
}

/* Ultra-wide Desktop (2560px+) */
@media (min-width: 2560px) {
  .responsiveContainer {
    max-width: 1600px;
  }
  .heroContainer {
    max-width: 1600px; /* Adjust for ultra-wide screens */
  }
}

