.section {
width: 100%;
  background: #fff;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: .75rem;
}

.subheading {
  text-align: center;
  margin: 0 auto 2rem auto;
  font-size: 18px;
  font-weight: 400;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  max-width: 70rem;
  margin: 0 auto;
}

.card {
  background: #fff;
  border: 1px solid #004C44;
  border-radius: 20px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: box-shadow 0.2s;
}
.card:hover {
  box-shadow: 0 10px 10px 0 rgba(16, 24, 40, 0.08);
}

.pill {
  background: #ffff;
  border: 1px solid #004C44;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 48px;
  margin-bottom: 1rem;
}

.pillText {
  color: #004C44;
  font-weight: bold;
  font-size: 1.125rem;
}

.cardTitle{
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.cardSubtitle{
    font-size: .95rem;
    color: #004C44;
    font-weight: 600;
    margin-bottom: 1rem;
}

.cardDescription {
  font-size: 14px;
  color: #004C44;
  margin-bottom: 1.5rem;
  text-align: left;
  margin-top: 10px;
}

@media (min-width: 600px) {
  .heading {
    font-size: 2rem;
  }
  .subheading {
    font-size: 1.125rem;
  }
  .grid {
    gap: 2.5rem;
  }
  .pill {
    width: 148px;
    height: 60px;
  }
  .pillText {
    font-size: 1.25rem;
  }
}

@media (min-width: 900px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
  }
  .section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .heading {
    font-size: 2.25rem;
  }
  .subheading {
    font-size: 1.25rem;
  }
  .card {
    min-width: 320px;
    max-width: 340px;
    min-height: 340px;
  }
}

@media (max-width: 600px) {
  .card {
    padding-top: 2.5rem;
  }
}

@media (max-width: 400px) {
  .card {
    padding: 1rem;
    padding-top: 2rem;
  }
  .pill {
    width: 70px;
    height: 28px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  .pillText {
    font-size: 0.95rem;
  }
} 