.heroSection {
  position: relative;
  width: 100%;
  background-image: 
    linear-gradient(270deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.9) 88.99%),
    url('../../assets/aboutUsBg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  min-height: 100vh; /* Default for larger screens */
}

/* For screens less than 640px wide (mobile) */
@media (max-width: 639px) {
  .heroSection {
    min-height: 30vh;
  }
}
